<div id="<%= dom_id link %>" style="display: flex; align-items: center; margin-bottom: 1rem; gap: 1rem; max-width: 1024px">
  <% if link.state == "pending" %>
    <p>Pending: <%= link.url %></p>
    <%= button_to "ðŸ—‘ï¸", link, method: :delete %>
  <% elsif link.state == "success" %>
    <%= image_tag link.image_url, width: 300, height: 160, style: "border: solid gray 1px; object-fit: cover;" if link.image_url %>
    <div>
      <h3><%= link_to link.title, link.url %></h3>
      <p>
        <%= link.description %>
        <%= button_to "ðŸ—‘ï¸", link, method: :delete %>
      </p>
    </div>
  <% else %>
    <p style="color: red">Error: <%= link.url %></p>
    <%= button_to "ðŸ—‘ï¸", link, method: :delete %>
  <% end %>
</div>
