<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="margin-bottom: 10px;">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, size: 80, style: "padding: 8px" %>
  </div>

  <div style="margin-bottom: 10px;">
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body, rows: 10, cols: 80, style: "padding: 8px" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
