<!DOCTYPE html>
<html>
  <head>
    <title>RailsExample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav style="font-size: 1.5rem;">
      <%= link_to "Posts", posts_path %>
      <%= link_to "Links", links_path %>
      <%= link_to "Search", search_path %>
    </nav>
    <%= yield %>
  </body>
</html>
